body{
 background-color: #d6e5fa;
 font-family: 'Josefin Sans', sans-serif;

}
hr {

 border-style: none;
 border-top-style: dotted;
 border-color: #018383;
 border-width: 7px;
 width: 5%;
}
.shape{
border-radius:50%;
}

.h1{

 color: #297ca0;
 margin: 0px;
 text-align:50%;
 font-family:'Sacramento', cursive;
 font-size: 75px;
}
h2{
  color: #297ca0 ;
}
h3{
  color: #297ca0 ;
}
h4
{
color: #297ca0 ;
}
.pro{
  font-family: 'Josefin Sans', sans-serif;
}
.con{
font-family: 'Josefin Sans', sans-serif;
 color: #297ca0;

}
